:root {
  --color: #f44336;
  --bg: rgba(255, 255, 255, 0.7);
  --br: 2em;
  --blur: 0.5em;
}

.carusel {
  position: absolute;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.control {
  position: absolute;
  top: 45%;
  outline: none;
  color: var(--color);
  background-color: var(--bg);
  backdrop-filter: blur(var(--blur));
  border-radius: var(--br);
}

.control:hover {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0px var(--color);
  }

  70% {
    box-shadow: 0 0 0 20px rgba(244, 67, 54, 0);
  }
}

.prev {
  left: 2%;
}

.next {
  right: 2%;
}

.indicatorsList {
  position: absolute;
  width: 20em;
  bottom: 5%;
  left: calc(50% - calc(20em / 2));
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--color);
  border-radius: var(--br);
  background-color: var(--bg);
  backdrop-filter: blur(var(--blur));
  padding: 1em 0.6em 0.6em 0.6em;
}

.settings {
  position: absolute;
  right: 0%;
  top: 0%;
  color: var(--color);
  border-bottom-left-radius: var(--br);
  backdrop-filter: blur(var(--blur));
  background-color: var(--bg);
}
