:root {
  --color: #ffb74d;
}

.carusel {
  position: relative;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  transition: 500ms ease;
  overflow: hidden;
}

.control {
  position: absolute;
  top: 45%;
  width: 4em;
  height: 4em;
  border-radius: 20px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.1);
  outline: none;
  color: var(--color);
}

.prev {
  left: 3%;
}

.next {
  right: 3%;
}

.indicatorsList {
  position: absolute;
  width: 15em;
  bottom: 3%;
  left: calc(50% - calc(15em / 2));
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  color: var(--color);
}

.showControlsButton {
  position: absolute;
  right: 0%;
  bottom: 0%;
  background: rgba(0, 0, 0, 0.1);
  border-top-left-radius: 20px;
  border: none;
  padding: 0.8em 1em 0em 1.2em;
  outline: none;
  color: var(--color);
}

.autoPlayButton {
  position: absolute;
  top: 0%;
  right: 0%;
  background: rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 20px;
  border: none;
  padding: 0.5em 1em;
  outline: none;
  color: var(--color);
}
