:root {
  --color: #f44336;
}

.carusel {
  position: absolute;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.control {
  position: absolute;
  top: 45%;
  outline: none;
  color: var(--color);
}

.prev {
  left: 2%;
}

.next {
  right: 2%;
}

.indicatorsList {
  position: absolute;
  width: 20em;
  bottom: 5%;
  left: calc(50% - calc(20em / 2));
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color);
}

/* SETTINGS */
.settings {
  position: absolute;
  right: 0%;
  top: 0%;
  color: var(--color);
}

.likes {
  position: absolute;
  left: 1%;
  top: 2%;
}
